html
  head
    link(rel='stylesheet', type='text/css', href='assets/pageLoad/styles.min.css')
    script(src='assets/pageLoad/scripts.min.js')
    link(rel='stylesheet', href='assets/pageLoad/animate.min.css')
  body
    p Test
